name: Build and Release Go

on:
  push:
    tags:
      - 'v*'

run-name: Release ${{ github.ref_name }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: windows
            arch: amd64
            binary: annotator.exe
          - os: linux
            arch: amd64
            binary: annotator
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.25'

      - name: Build for ${{ matrix.os }}
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -ldflags "-X main.version=${{ github.ref_name }} -w -s" -o build/${{ matrix.binary }} ./cmd/annotator

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/${{ matrix.binary }}
            README.md
            LICENSE
          generate_release_notes: true